.container {
    background: beige;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.item {
    width: 40px;
    height: 40px;
}
.item1 {
    background: red;
}
.item2 {
    background: yellow
}
.item3 {
    background: blue
}
.item4 {
    background: pink
}
.item5 {
    background: cyan
}
.item6 {
    background: green
}
.item7 {
    background: greenyellow
}
.item8 {
    background: brown
}
.item9 {
    background: magenta
}
.item10 {
    background: mediumturquoise
}